<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สรุปยอดขาย</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- วัน -->
  <ion-card style="background:#FFFFFF;">
    <ion-card-header>
      <h5>รายวันนี้  <b *ngIf="stat_data"> {{stat_data.hourly.total}} </b> บาท</h5>
    </ion-card-header>
    <canvas #barChartD></canvas>
    <p *ngIf="stat_data">ณ​ วันที่ {{stat_data.date}} {{stat_data.month}} {{stat_data.year}}</p>
  </ion-card>


<!-- เดือน -->
 <ion-card style="background:#FFFFFF;">
    <ion-card-header>
    <h6 *ngIf="stat_data"> เดือนนี้ {{stat_data.daily.total}} บาท</h6>
    </ion-card-header>
    <canvas #barChartM></canvas>
    <p *ngIf="stat_data">ณ เดือน {{stat_data.month}} {{stat_data.year}}</p>
  </ion-card>


<!-- ปี -->

   <ion-card style="background:#FFFFFF;">
    <ion-card-header>
    <h6 *ngIf="stat_data">ปีนี้ {{stat_data.monthly.total}} บาท</h6>
    </ion-card-header>
      <canvas #barChartY></canvas>
      <p *ngIf="stat_data">ณ ปี {{stat_data.year}}</p>
  </ion-card>
<br/>

</ion-content>
