<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'statsPage.summary' | translate }}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- วัน -->
  <ion-card style="background:#FFFFFF;">
    <ion-card-header>
      <h5>{{ 'statsPage.dailyIncome' | translate }}  <b *ngIf="stat_data"> {{stat_data.hourly.total}} </b> ฿</h5>
    </ion-card-header>
    <canvas #barChartD></canvas>
    <p *ngIf="stat_data">{{ 'statsPage.day' | translate }} {{stat_data.date}} {{stat_data.month}} {{stat_data.year}}</p>
  </ion-card>


<!-- เดือน -->
 <ion-card style="background:#FFFFFF;">
    <ion-card-header>
    <h6 *ngIf="stat_data"> {{ 'statsPage.monthlyIncome' | translate }} {{stat_data.daily.total}} ฿</h6>
    </ion-card-header>
    <canvas #barChartM></canvas>
    <p *ngIf="stat_data">{{ 'statsPage.month' | translate }} {{stat_data.month}} {{stat_data.year}}</p>
  </ion-card>


<!-- ปี -->

   <ion-card style="background:#FFFFFF;">
    <ion-card-header>
    <h6 *ngIf="stat_data">{{ 'statsPage.yearlyIncome' | translate }} {{stat_data.monthly.total}} ฿</h6>
    </ion-card-header>
      <canvas #barChartY></canvas>
      <p *ngIf="stat_data">{{ 'statsPage.year' | translate }} {{stat_data.year}}</p>
  </ion-card>
<br/>

</ion-content>
