<ion-content>
  <ion-card *ngIf="product">
    <ion-img [src]="url+product.thumbnail || 'assets/noimg.png'"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ 'productsPage.show.productId' | translate }} {{ product.code_product ? product.code_product : '-'}}</ion-card-subtitle>
      <ion-card-title>
        {{ product['product_' + _translate.getDefaultLang()] }}
        <!-- <ion-badge color="success" *ngIf="product.incart == 1">เพิ่มลงในตะกร้าแล้ว</ion-badge>
        <ion-button size="small" fill="clear" color="primary" *ngIf="product.incart == 0 && product.allowAdd == 1" (click)="addToCart(product);">
          <ion-icon slot="icon-only" name="basket"></ion-icon>
        </ion-button> -->
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p><strong>{{ 'productsPage.show.price' | translate }}: </strong>{{ product.price }}</p>
      <p><strong>{{ 'productsPage.show.cost' | translate }}: </strong>{{ product.cost }}</p>
      <p><strong>{{ 'productsPage.show.amount' | translate }}: </strong>{{ product.instock }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" routerLink="/products" routerDirection="backward">{{ 'productsPage.show.back' | translate }}</ion-button>
</ion-footer>