<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'customerPage.delivery' | translate }}</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="cart"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background:#FFFFFF;">
    <ion-card-content>
      <ion-label position="floating">{{ 'customerPage.targetPosition' | translate }}</ion-label>
      <div #mapElement style="height:250px;"></div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
