<ion-header translucent>
  <ion-toolbar>

    <ion-title>ระบุตำแหน่ง</ion-title>
    <ion-button fill="clear" color="danger" slot="end" (click)="dismissModal();">
      <ion-icon name="ios-arrow-back"></ion-icon>กลับ
    </ion-button>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div #map id="map" style="height: 100%;"></div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="10">
      <ion-button expand="full"  color="primary"   (click)="accept();">ค้นหาร้าน</ion-button>
    </ion-col>
    <ion-col size="2">
        <ion-button expand="full" color="secondary"   (click)="useGps();">
          <ion-icon name="md-locate"></ion-icon>
        </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
