<ion-list *ngIf="cart?.length > 0">
  <ion-list-header>
    <ion-label>ตะกร้าสินค้า</ion-label>
  </ion-list-header>

  <ng-container *ngFor="let product of cart">
    <ion-item *ngIf="product.qty != 0">
      <ion-avatar slot="start">
        <img src="">
      </ion-avatar>
      {{ product.product_th }}&nbsp;
      <ion-badge color="danger" *ngIf="product.instock == 0">หมดสต๊อค</ion-badge>
      <ion-badge color="primary" slot="end" *ngIf="product.qty > 0">{{ product.qty }}</ion-badge>
      <ion-button slot="end" size="large" fill="clear" color="success" [disabled]="product.instock == 0" (click)="addItem(product)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button slot="end" size="large" fill="clear" color="danger" *ngIf="product.qty > 0" (click)="removeFromCart(product)">
        <ion-icon name="close" *ngIf="product.qty == 1"></ion-icon>
        <ion-icon name="remove" *ngIf="product.qty > 1"></ion-icon>
      </ion-button>      
      
    </ion-item>
  </ng-container>
  
</ion-list>