<ion-content formGroupName="form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>เพิ่มสินค้า</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item-group>
        <ion-item lines="none">
          <ion-img src="/assets/noimg.png"></ion-img>
        </ion-item>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-button size="small" color="primary">ถ่ายรูปสินค้า</ion-button>
          </ion-row>
        </ion-grid>        
      </ion-item-group>
      
      <ion-item>
        <ion-label position="floating">รหัสสินค้า</ion-label>
        <ion-input type="text" formControlName="code_product"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ชื่อสินค้า</ion-label>
        <ion-input type="text" formControlName="product_th"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">รายละเอียดสินค้า</ion-label>
        <ion-textarea formControlName="details_th"></ion-textarea>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">ราคาขาย</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">ราคาต้นทุน</ion-label>
              <ion-input type="number" formControlName="cost"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">จำนวนในสต๊อค</ion-label>
        <ion-input type="number" formControlName="instock"></ion-input>
      </ion-item>      
    </ion-card-content>
    <ion-button type="submit" expand="full" color="success">บันทึก</ion-button>
  </ion-card>  
</ion-content>