
<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
 -->
    <ion-title>แก้ไขข้อมูล</ion-title>
    <ion-buttons slot="end">
      <ion-back-button  color="danger"  defaultHref="products"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="productForm" >
  <ion-card style="background:#FFFFFF;">
    <ion-card-header>
      <h3>{{ title }}</h3>
    </ion-card-header>

    <ion-card-content >
      <ion-item-group >
        <ion-item lines="none">
          <ion-img *ngIf="thumbnail" [src]="thumbnail"></ion-img>
          <ion-img *ngIf="!thumbnail" src="/assets/noimg.png"></ion-img>
        </ion-item>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-button size="small" color="primary" (click)="getPicture()">ถ่ายรูปสินค้า</ion-button>
            <ion-button size="small" color="secondary" (click)="selectPictures();">เลือกจากอัลบั้ม</ion-button>
          </ion-row>
        </ion-grid>
      </ion-item-group>
      <ion-item>
        <ion-label color="primary" position="stacked">ชื่อสินค้า</ion-label>
        <ion-input type="text"  formControlName="product_th"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">รายละเอียดสินค้า</ion-label>
        <ion-textarea  formControlName="details_th"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">หมวดหมู่สินค้า</ion-label>
        <ion-select formControlName="product_type_id">
          <ion-select-option
            *ngFor="let cat of product_types"
            [value]="cat.id"
            [selected]="cat.id == productForm.get('product_type_id').value">
            {{ cat.cat_th }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="danger" position="stacked">ราคา</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="danger" position="stacked">ต้นทุน</ion-label>
              <ion-input type="number" formControlName="cost"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-item>
        <ion-label position="floating">สต๊อค</ion-label>
        <ion-input type="number" formControlName="instock"></ion-input>
      </ion-item> -->

    </ion-card-content>
    <ion-button type="submit" shape="round" expand="full" color="primary" (click)="submit()">
     <ion-icon name="logo-buffer"></ion-icon>
    &nbsp;บันทึก</ion-button>
  </ion-card>
</ion-content>




<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic 4 Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row class="center">
        <ion-col size-sm-6>
          <ion-button size="small" (click)="getPicture(1)">Show Camera</ion-button>
        </ion-col>
        <ion-col size-sm-6>
          <ion-button size="small" (click)="getPicture(0)">Show Album</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-label>Return image file URI</ion-label>
      <ion-toggle energized [(ngModel)]="useURI"></ion-toggle>
    </ion-item>

    <ion-card>
      <ion-card-content>
        <img [src]="imageData" *ngIf="imageData"/>
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>
          <div *ngIf="useURI">
            Using URI
          </div>
          <div *ngIf="!useURI">
            Using Base64
          </div>
          <p *ngIf="useURI">
            Your URI is {{ imageData }}
          </p>
          <p *ngIf="!useURI">
            Your Base64 image has {{ (imageData + '').length }} bytes
          </p>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content> -->
