<ion-header padding="true">
  <ion-toolbar  *ngIf="store">

    <ion-avatar no-margin no-padding slot="start">
      <img *ngIf="store.store_pic" [src]="'https://qrdee.co/app/'+store.store_pic">
      <img *ngIf="!store.store_pic" src="/assets/noimg.png">
    </ion-avatar>

    <div no-margin no-padding>
      <ion-row no-margin no-padding>
        <ion-col no-margin no-padding>
          {{ store.store_name }}
        </ion-col>
      </ion-row>

      <ion-row no-margin no-padding>
        <ion-col no-margin no-padding>
          <ul no-margin no-padding class="rating-container" style="display: inline; list-style: none;">
            <li no-margin no-padding >
              <ion-button no-margin no-padding fill size="small" *ngFor="let star of [0,1,2,3,4]" (click)="addStoreStar(store.id, star+1)">
                <ion-icon no-margin no-padding [name]="store.star > star ? 'star' : 'star-outline'"></ion-icon>
              </ion-button>
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </div>

    <ion-button fill="clear" size="small" color="danger" slot="end" (click)="forceDissmiss(0);">
      <ion-icon name="ios-arrow-back"></ion-icon>กลับ
    </ion-button>
  </ion-toolbar>

</ion-header>


<ion-content>

<ion-grid *ngIf="products">
  <ion-item>
    <ion-text slot="start">
      <small>เลือกไว้แล้ว {{pick_count}} ชิ้น</small><br>
      <small> (ขั้นต่ำ {{store.free_delivery_price}} ส่งฟรี)</small>
    </ion-text>
    <ion-button fill="clear" color="primary" slot="end" (click)="startPayment();">
      <ion-icon slot="icon-only" name="ios-cash"></ion-icon> สั่งซื้อ
    </ion-button>
  </ion-item>
    <ion-row responsive-sm wrap no-margin no-padding>
      <ion-col   *ngFor="let product of products">

        <ion-card  no-margin no-padding >
          <ion-item>
            <ion-text>{{ product.product_th }}</ion-text>
            <ion-badge  color="danger"> {{product.price | number }} บาท </ion-badge>
            <ion-button fill="outline" slot="end"  (click)="selectItem(product);">เลือก</ion-button>
          </ion-item>
          <ion-card-content  no-margin no-padding *ngIf="store.store_pic">
            <ion-img   style="height:200px;" [src]="'https://qrdee.co/app/'+product.thumbnail"></ion-img>
            <ion-text *ngIf="product.details_th"><small> {{ product.details_th }} </small></ion-text>
          </ion-card-content>

          <ion-row no-margin no-padding>
            <ion-col size="10">
            <!-- <button ion-button icon-start clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
            </button> -->

              <div class="rating-container">
                <ul style="display: inline;">
                  <li>
                    <ion-button fill size="small" *ngFor="let star of [0,1,2,3,4]" (click)="addProductStar(product.id, star+1)">
                      <ion-icon [name]="product.star > star ? 'star' : 'star-outline'"></ion-icon>
                    </ion-button>
                  </li>
                </ul>
              </div>
            <!-- <rating no-margin no-padding [rate]="rate"
              readonly="false"
              size="small"
              (rateChange)="addProductStar($event)">
            </rating> -->
            </ion-col>
            <!-- <ion-col>
            <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
            </button>
            </ion-col> -->
            <ion-col size="2" align-self-center text-center (click)="commentPrompt(product.id, product.comments);">
              <ion-note color="primary"><ion-icon name="text"></ion-icon>
                {{ product.comments.length }}
              </ion-note>
            </ion-col>
          </ion-row>


        </ion-card>


        <!-- <ion-card>
            <ion-col col-12 no-margin no-padding><img src="{{product.product_th}}"/></ion-col>
            <ion-col col-12 no-margin no-padding>
              <ion-card-content>
                <ion-card-title>
                  {{ product.product_th }} <ion-badge item-end>{{ product.product_th }} km</ion-badge>
                </ion-card-title>
                <p>
                  <small><rating [score]="5" [max]="5"></rating> ({{ product.product_th }})</small>
                </p>
              </ion-card-content>
            </ion-col>
        </ion-card> -->
      </ion-col>
    </ion-row>
</ion-grid>

<!-- <ion-list *ngIf="products">
    <ion-item >

      <ion-text slot="start">
        <small>เลือกไว้แล้ว {{pick_count}} ชิ้น</small>
        <small> (ขั้นต่ำ {{store.free_delivery_price}} ส่งฟรี)</small>
      </ion-text>
      <ion-button fill="clear" color="primary" slot="end" (click)="startPayment();">
        <ion-icon slot="icon-only" name="ios-cash"></ion-icon> ชำระเงิน
      </ion-button>
    </ion-item>

    <ion-item  *ngFor="let product of products">
      <ion-avatar slot="start">
        <img *ngIf="store.store_pic" [src]="'https://qrdee.co/app/'+product.thumbnail">
        <img *ngIf="!store.store_pic" src="/assets/noimg.png">
      </ion-avatar>
      <ion-text>
        <small *ngIf="product.product_th"><b>{{product.product_th}}</b></small><br>
      </ion-text>
      <ion-text slot="end">
        <small *ngIf="product.price">ราคา {{product.price | number }} บาท</small><br>
      </ion-text>
      <ion-button fill="clear" color="secondary" slot="end" (click)="selectItem(product);">
        <ion-icon slot="icon-only" name="ios-cart"></ion-icon>
      </ion-button>
    </ion-item>

</ion-list> -->



</ion-content>
