.btn1 {
	height: 80px;
	--background: #E03A3A ;

}
.btn2 {
	height: 70px;
	--background: #084eb6 ;

}
.img_logistic{
	width: 100px; height: 100px;
}
.app-background{
	 --background: url('/assets/bg1.jpg') 0 0/100% 100% no-repeat;
}
.center {
 display: block;
 margin: auto;
 width: 40%;
}

.flag-th {
	display:inline-block;
	position: relative;
	width:16px;
	height:11px;
	background: url('https://flag-sprites.com/img/flags.png') no-repeat;
}