<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'loginPage.login' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-text-center" >
    <img src="assets/images/mapapi.png" class="img_logistic">
  </div> -->

  <ion-img class="center" src="assets/images/qrdee.png"></ion-img>



  <p text-center>{{ 'loginPage.welcome' | translate }}</p>
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-button class="btn1" expand="block"  (click)="goRegister_customer();">
          <div class="ion-text-center"  >
            <ion-icon name="cart"></ion-icon><br/>
            <b>{{ 'loginPage.buy' | translate }}</b>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">
          <ion-button class="btn2" expand="block"  (click)="goRegister_store();">
            <div class="ion-text-center"  >
              <ion-icon name="home"></ion-icon><br/>
              <b>{{ 'loginPage.newStore' | translate }}</b>
            </div>
          </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn2" expand="block" (click)="goRegister_logistic();">
          <div class="ion-text-center">
            <ion-icon name="md-bicycle"></ion-icon><br/>
            <b>{{ 'loginPage.rider' | translate }}</b>
          </div>
        </ion-button>
      </ion-col>
  </ion-row>
</ion-grid>


  <ion-card>
    <p no-padding no-margin text-center>{{ 'loginPage.login' | translate }}</p>
    <form (ngSubmit)="loginForm()">
      <ion-grid>
        <ion-row padding color="primary" size=6 justify-content-center>
          <ion-col>
              <ion-item>
                <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="promptpay"
                type="text" [placeholder]="'loginPage.telephone' | translate" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  [ngModelOptions]="{standalone: true}" [(ngModel)]="password"
                type="password" [placeholder]="'loginPage.password' | translate"></ion-input>
              </ion-item>
              <br>
              <ion-button type="submit" expand="full"color="primary" shape="round"><b>{{ 'loginPage.login' | translate }}</b></ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>


</ion-content>
