<ion-header>
  <ion-toolbar>
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="app-background">
  <div class="" >
  <div class="ion-text-center" >
    <img src="assets/images/mapapi.png" class="img_logistic">
  </div>
<form (ngSubmit)="loginForm()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <!-- <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> -->
          <div padding>
            <ion-item>
              <ion-input  [ngModelOptions]="{standalone: true}" [(ngModel)]="promptpay"
               type="text" placeholder="เบอร์โทรศัพท์" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  [ngModelOptions]="{standalone: true}" [(ngModel)]="password"
               type="password" placeholder="รหัสผ่าน"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="full"color="primary" shape="round"><b>เข้าสู่ระบบ</b></ion-button>
          </div>
      </ion-row>

    </ion-grid>
  </form>

   <p text-center>ยังไม่มีบัญชี ลงทะเบียน</p>
  <ion-grid>
   <ion-row>
    <ion-col size="6">
        <ion-button class="btn2" expand="block" (click)="goRegister_store()">
          <div class="ion-text-center"  >
            <ion-icon name="home"></ion-icon><br/>
            <b>ร้านค้า</b>
          </div>
        </ion-button>
    </ion-col>
    <!-- <ion-col size="4">
      <ion-button class="btn2" expand="block" (click)="goRegister_logistic()">
       <div class="ion-text-center">
         <ion-icon name="pin"></ion-icon><br/>
          <b>ผู้ส่งสินค้า</b>
        </div>
      </ion-button>
    </ion-col> -->
      <ion-col size="6">
          <ion-button class="btn2" expand="block" (click)="goRegister_customer()">
            <div class="ion-text-center">
              <ion-icon name="cart"></ion-icon><br/>
              <b>ซื้อสินค้า</b>
            </div>
          </ion-button>
    </ion-col>


  </ion-row>
</ion-grid>
</div>
</ion-content>
