.btn1 {
	height: 100px;
	--background: #33FFCC ;

}
.btn2 {
	height: 50px;
	--background: #E03A3A ;

}
.img_logistic{
	width: 100px; height: 100px;
}
.app-background{
	 --background: url('/assets/bg1.jpg') 0 0/100% 100% no-repeat;
}
.center {
   display: block;
   margin: auto;
   width: 40%;
  }
