<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>รับชำระเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-price
    [price]="price">
  </app-price>  
  <app-list 
    [cart]="cart" 
    (removeFromCartChange)="removeFromCart($event)" 
    (addItemChange)="addItem($event)">
  </app-list>
  
</ion-content>

<ion-footer>
  <app-add 
    (scanChange)="scan($event)">
  </app-add>
  <ion-button expand="full" color="primary" (click)="newTransaction()">ชำระเงินด้วย QR Code</ion-button>
</ion-footer>
