<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{tab_titles[tab]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tab == 0">

  <ion-list>

    <ion-list-header >
      <ion-label>{{ 'cartPage.order' | translate }} : {{ 'cartPage.shippingCost' | translate }} {{store.delivery_price}} ฿ ({{ 'cartPage.minCost' | translate }} {{store.free_delivery_price}} {{ 'cartPage.free' | translate }})</ion-label>
    </ion-list-header>


    <ion-item-sliding *ngFor="let order of orders">

      <ion-item>

        <ion-label>
          <h5>
            <ion-text color="dark">{{order.member.firstname}} </ion-text>
            <ion-badge color="danger"> {{ order.price >= store.free_delivery_price? order.price : order.price+store.delivery_price }} </ion-badge> <ion-text color="dark"> {{ 'cartPage.bath' | translate }} </ion-text>
          </h5>
        </ion-label>
        <ion-button fill="clear" color="danger" slot="end" (click)="deleteOrder(order.member.id);">
          <ion-icon name="ios-trash"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" color="primary" slot="end" (click)="makeClall(order.member.mobile_number);">
          <ion-icon name="ios-call"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="primary" slot="end" (click)="delivery(order);">
          <ion-icon name="md-bicycle"></ion-icon>
        </ion-button>

      </ion-item>

      <ion-item *ngFor="let item of order.orders" lines="none">
        <ion-avatar slot="start">
            <img *ngIf="item.product.thumbnail" [src]="'https://qrdee.co/app/'+item.product.thumbnail">
            <img *ngIf="!item.product.thumbnail" src="/assets/noimg.png">
        </ion-avatar>
        <ion-label>
          <h5><ion-text color="dark">{{item.product['product_' + _translate.getDefaultLang()]}} : {{item.product.price}} {{ 'cartPage.bath' | translate }} x {{ item.qty }} {{ 'cartPage.each' | translate }}</ion-text></h5>
        </ion-label>
      </ion-item>

    </ion-item-sliding>


  </ion-list>
</ion-content>

<ion-content *ngIf="tab == 1">
  <!-- <ion-searchbar placeholder="ชื่อ/รหัสสินค้า" color="primary" animated debounce="500" (ionChange)="search($event.target.value)">
  </ion-searchbar> -->
  <ion-item-divider style="background:#f2f2f2;">
    <div slot="start">
      <h3>{{ 'cartPage.amount' | translate }}</h3>
    </div>
    <div slot="end">
      <ion-input style="text-align: right;font-size: 20px" type="number" [(ngModel)]="price" (keyup)="onKeyUp($event)" clearInput></ion-input>
    </div>
  </ion-item-divider>

  <app-list
    [cart]="cart"
    (removeFromCartChange)="removeFromCart($event)"
    (addItemChange)="addItem($event)">
  </app-list>

  <ion-list>

    <ion-item-sliding>
      <ion-item>
        <ion-button  slot="end" (click)="newTransaction();" color="primary">
          <ion-icon  name="md-qr-scanner"></ion-icon>
          {{ 'cartPage.genQr' | translate }}
        </ion-button>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option onClick="unread(item)">Unread</ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-list-header >
      <ion-label>{{ 'cartPage.productList' | translate }}</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-avatar slot="start">
          <img *ngIf="product.thumbnail" [src]="'https://qrdee.co/app/'+product.thumbnail">
          <img *ngIf="!product.thumbnail" src="/assets/noimg.png">
        </ion-avatar>
        <ion-label>
          <h5><ion-text color="dark">{{ product['product_' + _translate.getDefaultLang()] }} </ion-text> <ion-badge color="danger"> {{ product.price }} </ion-badge> <ion-text color="dark">  {{ 'cartPage.bath' | translate }} </ion-text> </h5>
        </ion-label>

        <ion-button fill="clear" color="primary" slot="end" (click)="addToCart(product);">
          <ion-icon slot="icon-only" name="basket"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-item-sliding>


  </ion-list>



</ion-content>

<ion-footer style="background:#FFFFFF;">
  <ion-toolbar>
    <ion-row>
      <ion-col no-padding>
        <center>
          <button ion-button  block clear color="primary-alt" (click)="changeTab(0)">
            <ion-icon size="large" name="ios-cart"></ion-icon><br>
            <ion-label>{{ 'cartPage.order' | translate }}</ion-label>
          </button>
        </center>
      </ion-col>
      <ion-col no-padding>
        <center>
          <button ion-button block clear color="primary-alt" (click)="changeTab(1)">
            <ion-icon size="large" name="ios-cash"></ion-icon><br>
              <ion-label>{{ 'cartPage.qrPayment' | translate }}</ion-label>
          </button>
        </center>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>


<!-- <ion-footer style="background:#FFFFFF;">
  <ion-toolbar>
          <ion-tabs>
              <ion-tab-bar slot="bottom">
                <ion-tab-button color="primary" (click)="changeTab(0)" >
                    <ion-icon name="ios-cart"></ion-icon>
                    <ion-label>คำสั่งซื้อสินค้า</ion-label>
                </ion-tab-button>
                <ion-tab-button color="primary" (click)="changeTab(1)" >
                    <ion-icon name="ios-cash"></ion-icon>
                    <ion-label>รับชำระเงินด้วย QR</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
   </ion-toolbar>
</ion-footer> -->
