<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>สินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-list 
    [products]="products" 
    (searchChange)="search($event)" 
    (addToCartChange)="addToCart($event)" 
    (loadDataChange)="loadData($event)"></app-list>
</ion-content>


<ion-footer>
  <ion-button expand="full" [routerDirection]="'backward'" [routerLink]="'/cart'" color="danger">เสร็จสิ้น</ion-button>
</ion-footer>