<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  -->   
    <ion-title>ออกจากระบบ</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding  class="app-background">
	<br><br><br><br><br>
	 <ion-card style="background:#FFFFFF;">
		<ion-grid >
		      <ion-row >
		        <ion-col size="12">
		             <h6>ยืนยันออกจากระบบ</h6><br/>
		            <ion-button  expand="full" color="primary" (click)="save()">ตกลง</ion-button>
		        </ion-col> 
		      </ion-row>
		  </ion-grid> 
		</ion-card >
</ion-content>
<!-- <ion-footer>
  <ion-button expand="full" color="primary" routerLink="/products" routerDirection="backward">กลับ</ion-button>
</ion-footer> -->