// ion-content{
// 	 --background: url('/assets/bg1.jpg') 0 0/100% 100% no-repeat;
// }
.mapElements{
	width:100%;
	height: 100%;
}
#centerMarkerImage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  margin: auto;
  width: 32px; // image width
  height: 24px; // image height
  z-index: 1;
}
