<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>เปิดร้านออนไลน์</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <div id="map_canvas" style="height:250px;">
</div> -->

 <ion-content>

   <div #map id="map" style="height:250px;" ></div>



  <ion-card style="background:#FFFFFF;">
    <ion-card-content>
      <ion-label position="floating">ตำแหน่งร้าน</ion-label>

      <ion-list>
        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input type="text" [(ngModel)]="store_name" placeholder="ชื่อร้าน"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input type="text" [(ngModel)]="promptpay" placeholder="เบอร์โทรศัพท์"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"></ion-label>
          <ion-input type="password"  [(ngModel)]="password" placeholder="รหัสผ่าน"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" ></ion-label>
          <ion-input type="password"  [(ngModel)]="repassword" placeholder="ยืนยันรหัสผ่าน"></ion-input>
        </ion-item>

        <ion-button type="submit" shape="round" expand="full" color="primary" (click)="registStore()">ลงทะเบียน</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
