<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ซื้อสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="tab1">
  <ion-searchbar placeholder="ค้นหาร้าน" color="primary" (ionChange)="searchStores($event.target.value)">
  </ion-searchbar>

  <ion-list *ngIf="stores">
      <ion-list-header >
        <ion-label>ร้านค้าใกล้เคียง</ion-label>
      </ion-list-header>
      <ion-item *ngIf="stores && stores.length <=0 ">
        <ion-text>
            ไม่พบร้านบริเวณใกล้ ๆ นี้
        </ion-text>
      </ion-item>

      <ion-card *ngFor="let store of stores" (click)="viewStore(store);">

        <ion-row style="height: 100%;">
          <ion-col size="4">
            <ion-thumbnail style="height: 100%; width: 100%; border-radius: 2px;">
              <img *ngIf="store.store_pic" [src]="'https://qrdee.co/app/'+store.store_pic" style="height: 100%; width: 100%; border-radius: 4px;">
              <img *ngIf="!store.store_pic" src="/assets/noimg.png" style="height: 100%; width: 100%; border-radius: 4px;">
            </ion-thumbnail>
          </ion-col>

          <ion-col size="8" style="line-height: 10px;">
            <h6>{{ store.store_name }} <ion-badge color="primary">{{store.distance | number }} กม.</ion-badge></h6>
            <p>{{ store.store_type.store_type_th }}</p>
            <p>ค่าส่ง {{store.delivery_price}} ฿</p>
          </ion-col>

        </ion-row>

      </ion-card>
      <!-- <ion-item  *ngFor="let store of stores">
          <ion-avatar slot="start" (click)="viewStore(store);">
            <img *ngIf="store.store_pic" [src]="'https://qrdee.co/app/'+store.store_pic">
            <img *ngIf="!store.store_pic" src="/assets/noimg.png">
          </ion-avatar>
          <ion-text (click)="viewStore(store);">
            <small *ngIf="store.store_name"><b>{{store.store_name}}</b></small><br>
            <small *ngIf="store.store_type">{{store.store_type.store_type_th}}</small>
          </ion-text>
          <ion-text slot="end" (click)="viewStore(store);">
            <small *ngIf="store.delivery_price">ระยะ {{store.distance | number }} km</small><br>
            <small *ngIf="store.delivery_price">ค่าส่ง {{store.delivery_price}} ฿</small>
          </ion-text>
          <ion-button fill="clear" color="primary" slot="end" (click)="viewStore(store);">
            <ion-icon slot="icon-only" name="md-eye"></ion-icon>
          </ion-button>


        </ion-item> -->
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="infinitStores($event.target)" style="height: 5px;opacity: .01;">
     <ion-infinite-scroll-content>
     </ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
<ion-content *ngIf="tab2">

  <ion-list  *ngFor="let cart of member_cart">
      <ion-item >
        <ion-avatar slot="start">
        </ion-avatar>
        <ion-text>
          <small *ngIf="cart.store_name"><b>ร้าน {{cart.store_name}}</b></small><br>
        </ion-text>
        <ion-text slot="end">
          <small *ngIf="cart.delivery_price">ค่าส่ง {{cart.delivery_price}} ฿</small><br>
          <small *ngIf="cart.free_delivery_price">(ขั้นต่ำ {{cart.free_delivery_price}} ส่งฟรี)</small>
        </ion-text>
        <ion-button fill="clear" color="primary" slot="end" (click)="callStore(cart.mobile_number);">
          <ion-icon slot="icon-only" name="ios-call"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item *ngFor="let prod of cart.products">
        <ion-avatar slot="start">
          <img *ngIf="prod.thumbnail" [src]="'https://qrdee.co/app/'+prod.thumbnail">
          <img *ngIf="!prod.thumbnail" src="/assets/noimg.png">
        </ion-avatar>
        <ion-text>
          <small *ngIf="prod.product_th"><b>{{prod.product_th}}</b></small><br>
        </ion-text>
        <ion-text slot="end">
          <small *ngIf="prod.price">{{prod.price}} ฿</small>
        </ion-text>
        <ion-button fill="clear" color="danger" slot="end" (click)="removeItem(cart.id, prod.id);">
          <ion-icon slot="icon-only" name="md-remove-circle"></ion-icon>
        </ion-button>
      </ion-item>

  </ion-list>

  <ion-list lines="none">
    <ion-item>
      <ion-text slot="start">
        <b *ngIf="total_price">รวม {{total_price}} ฿</b>
      </ion-text>
      <ion-text slot="end">
        <small>**ชำระเงินปลายทางผ่าน QRCode</small>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-label position="floating">โปรดระบุจุดรับสินค้า</ion-label>
    <div #map id="map" style="height:250px;" ></div>
  <br>

  <ion-list lines="none">

    <ion-item>
      <ion-label position="stacked">ชื่อผู้รับ</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" style="background-color:#ded9d9;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">เบอร์โทรศัพท์</ion-label>
      <ion-input type="text" [(ngModel)]="mobile_number" style="background-color:#ded9d9;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">รายละเอียดเพิ่มเติมสำหรับผู้ส่งของ</ion-label>
      <ion-textarea [(ngModel)]="notes" style="background-color:#ded9d9;" rows="4" placeholder="ตัวอย่าง. หน้าอาคาร 3 สาขาวิทยาการคอมพิวเตอร์ มหาวิทยาลัยราชภัฏสุรินทร์"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-button size="default" slot="end" (click)="placeOrder();" color="tertiary">
        ส่งคำสั่งซื้อ
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="tab3">
  <ion-list *ngIf="carts">

      <ion-list-header >
        <ion-label>รายการซื้อสินค้า</ion-label>
      </ion-list-header>

      <ion-item  *ngFor="let cart of carts">
          <ion-avatar slot="start">
            <img *ngIf="cart.product.thumbnail" [src]="'https://qrdee.co/app/'+cart.product.thumbnail">
            <img *ngIf="!cart.product.thumbnail" src="/assets/noimg.png">
          </ion-avatar>
          <ion-text slot="end">
            <small *ngIf="cart.product.product_th && cart.store.store_name">{{cart.product.product_th}} จาก {{cart.store.store_name}}</small><br>
            <small *ngIf="cart.created_at">เมื่อ {{cart.created_at }}</small>
          </ion-text>
          <ion-button fill="clear" color="primary" slot="end" (click)="callStore(cart.store.mobile_number);">
            <ion-icon slot="icon-only" name="ios-call"></ion-icon>
          </ion-button>
        </ion-item>

  </ion-list>
</ion-content>

<ion-footer style="background:#FFFFFF;">
  <ion-toolbar>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button color="primary" (click)="changeTab(0)" >
              <ion-icon name="md-locate"></ion-icon>
              <ion-label>ร้านค้าใกล้ๆ</ion-label>
          </ion-tab-button>
          <ion-tab-button color="primary" (click)="changeTab(1)" >
              <ion-icon name="md-cart"></ion-icon>
              <ion-label>คำสั่งซื้อ</ion-label>
          </ion-tab-button>
          <ion-tab-button color="primary" (click)="changeTab(2)" >
              <ion-icon name="md-list-box"></ion-icon>
              <ion-label>รายการซื้อ</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
   </ion-toolbar>
</ion-footer>
