.ios ion-footer .toolbar:last-child {
  padding-bottom: calc(constant(safe-area-inset-bottom) + 4px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 4px);
  min-height: calc(44px + constant(safe-area-inset-bottom));
  min-height: calc(44px + env(safe-area-inset-bottom));
}

.rating-container .ion-button {
		--padding-start: 4px;
		--padding-end: 4px;

		ion-icon {
			color: gray;
		}

		ion-icon[ng-reflect-name="star"] {
			color: #ffb400;
		}
}
.footer-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
